  /*  */
  .bj-bg {
    background: #FFFFFF !important;
  }

  .bj-bg-0 {
    background: linear-gradient(
      0deg, rgba(226,223,219,1) 0%, 
      rgba(226,223,219,1) 50%, 
      rgb(237 236 232) 75%, 
      rgb(243 241 241) 100%) !important;
  }

  .bj-bg-1 {
    background: linear-gradient(
      0deg, rgba(226,223,219,1) 0%, 
      rgba(226,223,219,1) 50%, 
      rgb(237 236 232) 75%, 
      rgb(243 241 241) 100%) !important;
  }

  .bj-bg-1::before {
    content: '' !important;
    position: absolute !important;
    background: url('arquivos/basic-jeans-2022-06--bg-1.png') !important;
    width: 100% !important;
    height: 100% !important;
    left: -10% !important;
  }

  .bj-text-1 {
    color: #464644 !important;
    font-size: large !important;
  }

  .bj-img-effect-1 > img {
    transform: scale(1) !important;
    transition-duration: 0.7s !important;
  }

  .bj-img-effect-1:hover > img {
    transform: scale(1.1) !important;
    cursor: pointer !important;
    transition-duration: 0.7s !important;
    filter: grayscale(1) !important;
  }

  .fit-sw > .swiper-button-next, .swiper-button-prev {
    color: #ED6B06 !important;
    border: 3px solid #ADADAD !important;
    border-radius: 50% !important;
    padding: 1.7rem 1.7rem !important;
  }

  .bj-img-effect-1 > .bj-btn-1 {
    /* text-align: center !important; */
    background: #8FB6DF !important;
    color: #FFFFFF !important;
    padding: 1rem !important;
    margin: 0rem 3rem !important;
    transform: translateY(-10rem) !important;
    opacity: 0 !important;
    transition-duration: 1s !important;
    /* position: absolute !important; */
  }

  .bj-img-effect-1:hover > .bj-btn-1 {
    cursor: pointer !important;
    transform: translateY(-5rem) !important;
    opacity: 1 !important;
    transition-duration: 1s !important;
  }

  .bj-img-effect-1 > .bj-title-2 {
    font-size: xx-large !important;
    color: #ED6B06 !important;
    transition-duration: 1s !important;
    transform: translateY(-5rem) !important;
    opacity: 0 !important;
  }

  .bj-img-effect-1:hover > .bj-title-2 {
    display: block !important;
    transition-duration: 1s !important;
    transform: translateY(-2rem) !important;
    opacity: 1 !important;
  }

  .bj-btn-return {
    font-size: 2rem;
    color: #ED6B06 !important;
    border: 3px solid #ADADAD !important;
    padding: 0.5rem 1rem !important;
    border-radius: 50% !important;
    cursor: pointer !important;
  }

  .bj-text-2 {
    font-size: large !important;
    color: #877E74 !important;
  }

  .bj-btn-2 {
    font-size: large;
    background: #ED6B06 !important;
    color: #FFFFFF !important;
    padding: 0.4rem 1.5rem !important;
    display: inline-block !important;
    vertical-align: middle !important;
  }

  .bj-btn-2:hover {
    text-decoration: none !important;
  }

  .bardot-logo::before {
    content: '' !important;
    position: absolute !important;
    background: url('/arquivos/basic-jeans-2022-06--bardot-logo.png') !important;
    background-repeat: no-repeat !important;
    background-size: 45vh !important;
    width: 35% !important;
    height: 13% !important;
    top: 2% !important;
    left: -4rem !important;
    z-index: 1 !important;
  }

  .bardot-high-logo::before {
    content: '' !important;
    position: absolute !important;
    background: url('/arquivos/basic-jeans-2022-06--bardot-high-logo.png') !important;
    background-repeat: no-repeat !important;
    background-size: 40vh !important;
    width: 40% !important;
    height: 22% !important;
    top: 55% !important;
    left: -98px !important;
    z-index: 1 !important;
  }

  .bj-text-3{
    font-size: large !important;
    color: #0744A5 !important;
  }

  .caroll-logo::before {
    content: '' !important;
    position: absolute !important;
    background: url('/arquivos/basic-jeans-2022-06--caroll-logo.png') !important;
    background-repeat: no-repeat !important;
    background-size: 40vh !important;
    width: 40% !important;
    height: 10% !important;
    top: 53% !important;
    left: 3% !important;
    z-index: 1 !important;
  }

  .crawford-logo::before {
    content: '' !important;
    position: absolute !important;
    background: url('/arquivos/basic-jeans-2022-06--crawford-logo.png') !important;
    background-repeat: no-repeat !important;
    background-size: 45vh !important;
    width: 40% !important;
    height: 10% !important;
    /* top: -10% !important; */
    left: 5% !important;
    z-index: 1 !important;
  }

  .frida-logo::before {
    content: '' !important;
    position: absolute !important;
    background: url('/arquivos/basic-jeans-2022-06--frida-logo.png') !important;
    background-repeat: no-repeat !important;
    background-size: 40vh !important;
    width: 35% !important;
    height: 13% !important;
    top: 55% !important;
    left: 0% !important;
    z-index: 1 !important;
  }

  .kendall-logo::before {
    content: '' !important;
    position: absolute !important;
    background: url('/arquivos/basic-jeans-2022-06--kendall-logo.png') !important;
    background-repeat: no-repeat !important;
    background-size: 45vh !important;
    width: 40% !important;
    height: 10% !important;
    /* top: -10% !important; */
    left: 5% !important;
    z-index: 1 !important;
  }

  .loren-logo::before {
    content: '' !important;
    position: absolute !important;
    background: url('/arquivos/basic-jeans-2022-06--loren-logo.png') !important;
    background-repeat: no-repeat !important;
    background-size: 40vh !important;
    width: 35% !important;
    height: 15% !important;
    top: 55% !important;
    left: 0% !important;
    z-index: 1 !important;
  }

  .lupita-logo::before {
    content: '' !important;
    position: absolute !important;
    background: url('/arquivos/basic-jeans-2022-06--lupita-logo.png') !important;
    background-repeat: no-repeat !important;
    background-size: 45vh !important;
    width: 40% !important;
    height: 16% !important;
    /* top: -10% !important; */
    left: 5% !important;
    z-index: 1 !important;
  }

  .monroe-logo::before {
    content: '' !important;
    position: absolute !important;
    background: url('/arquivos/basic-jeans-2022-06--monroe-logo.png') !important;
    background-repeat: no-repeat !important;
    background-size: 45vh !important;
    width: 40% !important;
    height: 10% !important;
    /* top: -10% !important; */
    left: 5% !important;
    z-index: 1 !important;
  }

  .salma-logo::before {
    content: '' !important;
    position: absolute !important;
    background: url('/arquivos/basic-jeans-2022-06--salma-logo.png') !important;
    background-repeat: no-repeat !important;
    background-size: 40vh !important;
    width: 35% !important;
    height: 13% !important;
    top: 60% !important;
    left: 3% !important;
    z-index: 1 !important;
  }

  .taylor-logo::before {
    content: '' !important;
    position: absolute !important;
    background: url('/arquivos/basic-jeans-2022-06--taylor-logo.png') !important;
    background-repeat: no-repeat !important;
    background-size: 45vh !important;
    width: 40% !important;
    height: 14% !important;
    top: 0% !important;
    left: 0% !important;
    z-index: 1 !important;
  }

  .bj-play-btn {
    font-size: 4rem !important;
    position: absolute !important;
    left: 0% !important;
    top: 0% !important;
    height: 100% !important;
    width: 100% !important;
    padding-top: 50% !important;
    opacity: 0.5 !important;
  }


  @media( max-width: 600px ) {

    .bj-bg-1::before {
      display: none !important;
    }

    .bardot-logo::before {
      display: none !important;
    }
    
    .bardot-high-logo::before {
      display: none !important;
    }
    
    .caroll-logo::before {
      display: none !important;
    }

    .crawford-logo::before {
      display: none !important;
    }

    .frida-logo::before {
      display: none !important;
    }

    .kendall-logo::before {
      display: none !important;
    }

    .loren-logo::before {
      display: none !important;
    }

    .lupita-logo::before {
      display: none !important;
    }

    .monroe-logo::before {
      display: none !important;
    }

    .salma-logo::before {
      display: none !important;
    }

    .taylor-logo::before {
      display: none !important;
    }

  }


